<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="https://image.ibb.co/bUKvvy/playlist_automatic_new.png" type="image/png">
    <title>Playlist</title>
</head>
<body>
    <h1 class="js-header">Edit Playlist</h1>
    <form action="#" class="js-form">        
        <input type="text" class="js-newTrackName" placeholder="Search for songs" required>
        <button type="submit">Add to playlist</button>
    </form>
    <div class="js-one-playlist">
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="edit.js"></script>
</html>