<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://image.ibb.co/bUKvvy/playlist_automatic_new.png" type="image/png">
    <link rel="stylesheet" href="/index.css">
    <title>Listio</title>
</head>
<body>
    <h1>Listio</h1>  
    <form class="js-RegForm" action="#">
        <button class="js-SignUpBtn" type="submit">Sign Up</button>
        <button class="js-LogInBtn" type="submit">Log In</button>
    </form>  
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/index.js"></script>
</html>