<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link rel="icon" href="https://image.ibb.co/bUKvvy/playlist_automatic_new.png" type="image/png">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/playlists.css">
    <title>Playlists</title>
</head>

<body>
    <div class="yourPlaylists-container">
        <nav class="navbar">                                                
            <div>
                <h1 class="nav-logo">
                    <a href="/">Listio</a>            
                </h1>
            </div>         
        </nav>            
        <header class="header-container" role="banner"> 
            <h2 class="playlist-header">My Playlists</h2> 
            <h6>Create a playlist, and search songs to add to it</h6>           
        </header>
        <div class="form-container">
            <form class="js-PlaylistForm" action="#">
                <div class="form-group">
                    <input type="text" class="form-control js-newPlaylistName" id="playlistName" placeholder="New Playlist Name..." required>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>        
        <main class="allPlaylists-grid js-all-playlists" role="main" aria-live="assertive"></main>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/playlists.js"></script>

</html>