<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="playlists.css">
    <link rel="icon" href="https://image.ibb.co/bUKvvy/playlist_automatic_new.png" type="image/png">
    <title>Playlists</title>
</head>
<body>    
    <h1>Your Playlists</h1>
    <form action="#" class="js-PlaylistForm">        
        <input type="text" class="js-newPlaylistName" placeholder="Playlist Name" required>
        <button type="submit">Create Playlist</button>
    </form>
    <div class="js-all-playlists"></div>    
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/playlists.js"></script>
</html>                