body {
    background: url(https://image.ibb.co/dxiH98/diego_catto_423903_unsplash_1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.auth-container {    
    display: block;
    margin: 120px 0;
}

.header-container, .form-container {
    text-align: center;
}

.form-control {    
    margin: 5px auto;
    width: 50%;    
    max-width: 300px;
}

.btn {
    border-radius: 20px !important;    
    margin: 2px; 
} 
