* {
    box-sizing: border-box;
}

body {
    margin: 5%;
    background-color: black;
    color: yellow
}

button {
    width: 120px;
    height: 40px;
}

i {
    margin: 5px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}