body {
    background: url(https://image.ibb.co/b4fMhT/alice_moore_192521_unsplash_1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.index-container {    
    display: inline-block;
    position: absolute;    
    top: 25%;
    left: 55%;        
}

.page-header {
    font-size: 15vw;        
}

.form-container {    
    text-align: center;    
}

.btn {
    border-radius: 20px !important;    
    margin: 2px; 
} 